@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji|Hind+Siliguri|Noto+Sans|Roboto');
body{
    margin: 0;
    padding: 0;
}
.backdrop{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}

*{
	font-family: Roboto
}


.heading{
	margin-top: 10%;
	
}

.github{
	color: #000;
	font-size: 30px;
	padding: 10px;
}

.github:hover{
	opacity: 0.8;
}

.punjabi{
	font-family: 'Baloo Paaji', cursive;
}
.construction{
	position: relative;
	margin-top: 5%;
	z-index: 999;
}

.footer{
	font-size: 15px;
	position: absolute;
	bottom: 20px;
}

