@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji|Hind+Siliguri|Noto+Sans|Roboto');

.backdrop{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}

*{
	font-family: Roboto
}

.heading{
	margin-top: 200px;
	
}

.punjabi{
	font-family: 'Baloo Paaji', cursive;
}
.construction{
	position: relative;
	margin-top: 50px;
	z-index: 999;
}

.footer{
	position: absolute;
	bottom: 20px;
}

.square {
	position: absolute;
	top: 70px;
  width: 70px;
  height: 70px;
  background-color: coral;
  animation: square-to-circle 2s .5s infinite cubic-bezier(1,.015,.295,1.225) alternate;
}
 
@keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
    background:coral;
    transform:rotate(0deg);
  }
  25%  {
    border-radius:50% 0 0 0;
    background:darksalmon;
    transform:rotate(45deg);
  }
  50%  {
    border-radius:50% 50% 0 0;
    background:indianred;
    transform:rotate(90deg);
  }
  75%  { 
    border-radius:50% 50% 50% 0;
    background:lightcoral;
    transform:rotate(135deg);
  }
  100% {  
    border-radius:50%;
    background:darksalmon;
    transform:rotate(180deg);
  }
}